<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd ">
		
		<!-- 包扫描 -->
		<context:component-scan base-package="com.tmhi"/>
		<!-- 外部资源文件 -->
		<context:property-placeholder location="classpath:properties/jdbc.properties"/>
		<!-- 数据源 -->
		<bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">
			<property name="driverClassName" value="${jdbc.driver}"/>
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}"/>
			<property name="password" value="${jdbc.password}"/>
		</bean>
		<!-- SqlSessionFactory -->
		<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="ds"/>
			<property name="mapperLocations" value="classpath:mapper/*DaoImpl.xml"/>
		</bean>
		<!-- dao -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="sqlSessionFactoryBeanName" value="factory"/>
			<property name="basePackage" value="com.tmhi.dao"/>
		</bean>
		<!-- 事务管理器 -->
		<bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="ds"/>
		</bean>
		
		<!-- 事务注解 -->
		<tx:annotation-driven transaction-manager="tm"/>
</beans>