<!doctype html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="Keywords" content="型月重工,TYPE-MOON Heavy Industries,wows,战舰世界,国服,南区,公会,舰队,型月,type-moon,游戏,萌豚,萌新,招新,招收,组队">
  <meta name="Description" content="--欢迎加入<型月重工>舰队--大家好，我们是从月球远道而来回收彩电，冰箱，空调，洗衣机，电脑，热水器的型月重工。
                                   现因飞船着陆时驾驶员撞到方向盘GG了，故决定通过游戏的方式寻找合适的驾驶员帮助我们返回月球。
                                   届时驾驶员将有机会参观型月重工本部，了解在月球钢铁是怎样炼成的。同时由于飞船需要维修，诚招水电工，焊工，钳工，重机工等维修人员。
                                   应聘者将有机会获得前往我们型月重工总部实习和就职的机会。名额有限，先到先得。">
  <meta name="author" content="Hiei">
  <title>型月重工舰队</title>
  <link rel="stylesheet" href="css/common.css" type="text/css">
  <link rel="stylesheet" href="css/index.css" type="text/css">
</head>

<body>
  <!-- header -->
  <div class="header">
    <p class="logo">型月重工</p>
    <p class="logo_eng">-&nbsp;TYPE-MOON Heavy Industries Inc.&nbsp;-</p>
    <div class="non_left"></div>
    <div class="non_right"></div>
  </div>

  <!-- content -->
  <div class="content_box clearfix">

    <div class="media_content">
      <img class="media_img" src="img/tmhi-prom.jpg" alt="img1">
    </div>

    <div class="text_content">
    <h1 class="text_title">
      --欢迎加入&lt;型月重工&gt;舰队--
    </h1>
    <div class="text">
      <p>
        大家好，我们是从月球远道而来回收彩电，冰箱，空调，洗衣机，电脑，热水器的型月重工。
        现因飞船着陆时驾驶员撞到方向盘GG了，故决定通过游戏的方式寻找合适的驾驶员帮助我们返回月球。
        届时驾驶员将有机会参观型月重工本部，了解在月球钢铁是怎样炼成的。同时由于飞船需要维修，诚招水电工，焊工，钳工，重机工等维修人员。
      </p>
      <p>
        应聘者将有机会获得前往我们型月重工总部实习和就职的机会。名额有限，先到先得。
      </p>
      <p class="join_group">
        <a class="join_group" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=634c8be88c5c9753f23662ff0bb23e77729a22dcfa321becc9c7776f8ef1d15e">
          <img border="0" src="img/join_qq_group.png" alt="型月重工：289422967" title="型月重工：289422967">
        </a>
      </p>
    </div>
    <p class="incription">
      2017年3月
      <br>
      または雪
    </p>
    </div>
  </div>

  <!-- navi -->
  <ul class="navi_list">
  <li><a href="index.html">首页</a></li>
    <li><a class="unused" href="#">新闻动态</a></li>
    <li><a class="unused" href="#">技术团队</a></li>
    <li><a class="unused" href="#">员工招聘</a></li>
    <li><a target="_blank" href="login.htm">约车系统</a></li>
  </ul>
  <div class="navi_bg"></div>

  <!-- footer -->
  <div class="footer">
    <p class="copyright">TYPE-MOON Heavy Industries Inc. All Rights Reserved</p>

    <div class="contact">
      <p>Contact infomation:&nbsp;
        <a class="mailto" href="mailto:hiei.tmhi@foxmail.com" title="联系管理员">Hiei</a>
      </p>
    </div>
  </div>

</body>

</html>
